*{
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('img/fondopalomitas.jpg');
    background-size: cover;
  }
ul{
    border: 2px dashed white;
    border-collapse: collapse;
    background-color: black;
    padding: 5px;
}
#contenedorCategorias{
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 2%;
}
li{
    text-align: center;
    list-style-type: none;
    color: white;
    font-size: 20px;
}
img{
    height: 100%;
    width: 100%;
}
h1{
    position: fixed;
    width: 100%;
    top: 0%;
    color: rgb(218, 203, 203);
    background-color: rgba(0, 0, 0, 0.788);
    text-align: center;
    font-size: 100px;
    letter-spacing: 30px;
    font-variant: small-caps;
    text-shadow: 5px 4px 30px rgb(239, 243, 0);
}

